/* Template para emplear en el desarrollo web empleando Bootstrap 
   7mo. TEL - 2020 ; Camada 1420 ; 16/06/2020 */

/* Links de interés:
 * Colores:
 https://www.site24x7.com/es/tools/selector-de-codigo-color.html
 https://encycolorpedia.es/ -> Aquí puedo encontrar valores de colores de marcas características.
 https://www.htmlcsscolor.com/hex/CCA43D

 * Fit de imagen en el carousel:
 https://www.w3schools.com/css/css3_object-fit.asp

 * Edición de imagenes:
 https://www.iloveimg.com/es
*/

/* :root Selecciona el elemento raíz del documento,
   <html> en el caso de HTML. La pseudo-clase :root 
   de CSS selecciona el elemento raíz de un árbol que representa el documento. 
   :root puede ser útil para declarar variables CSS globales.
   https://developer.mozilla.org/es/docs/Web/CSS/:root 
*/

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Pacifico&display=swap');

:root{
    --main-bg-color: #CC2222;
    --main-bg-color-a: #CC2222DD;
    --icon-color: #662222;
}

head, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto+Serif";
    font-size: larger;
    color: rgb(0, 0, 0);
}

/* ------- Estilos para el Header ------- */
.main-header{
    background-color: var(--main-bg-color);
    font-size: 20px;
    font-weight: 900;
}

.main-header hr{
    margin: 0;
    border: 1px solid var(--icon-color);
}

.navbar-brand{
    font-family: "Satisfy";
}

/* ------ Estilos para el Carousel ------ */
.main-carousel{

}

.carousel-inner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.carousel-caption h3{
    font-family: "Satisfy";
    color: #FFFFFF;
}

/* ------ Estilos para el Welcome ------- */
.main-welcome{
    background-color: var(--main-bg-color-a);
}

.main-welcome h1{
    padding: 1.5rem;
    color: #000000;
    margin: 0;
}

.main-welcome hr{
    margin: 0 auto;
    border: 1px solid #000000;
    width: 50%;
}

.main-welcome p{
    padding: 0.5em;
}

.row{ 
    margin: 0;
}

.main-welcome i{
    font-size: xx-large;
    margin: 0.5rem;
}

.main-welcome i:hover{
    color: #00EEAA;
}

/* ------- Estilos para los cards ------- */
.main-cards{

}

/* ------- Estilos para el footer ------- */
.main-footer{

}