@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    font-family: "Noto+Serif";
}

.main-header {
    background-image:url("Imagenes/Fenix.png");
    color: #FFFFFF;
    background-color: #000000AA;
    background-blend-mode: multiply;
    background-size: cover;
}

.main-nav ul {
    text-align: center;
    font-weight: lighter;
    margin: 0;
}

.main-nav li {
    display: inline;
    padding: 0.5%;
}

.main-nav a {
    padding: 1em;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.main-nav a:hover{
    background-color: #FFFFFF88;
}

.main-name {
    text-align: center;
    padding: 0.5em;
    font-family: "Satisfy";
}

.container{
    max-width: 1000px;
    margin: 1em auto;
    padding: 0 1.5em;
    font-size: larger;
}

.main-container{
    padding-bottom: 10px;
}

.section-header{
    font-family: Noto+Serif;
    font-size: xx-large;
    color: #000000;
    text-align: center;
}

.imagen-personal{
    display: block;
    width: 300px;
    margin: auto;
    border-radius: 50%;
    animation-name: borde_imagen;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes borde_imagen{
    0% {border: 4px solid #FF0000;}
    14% {border: 4px solid #FF7700;}
    29% {border: 4px solid #FFFF00;}
    43% {border: 4px solid #00FF00;}
    58% {border: 4px solid #00FFFF;}
    72% {border: 4px solid #0000FF;}
    87% {border: 4px solid #FF00FF;}
    100% {border: 4px solid #FF0000;}
}

.main-footer{
    color: #FFFFFF;
    background-image:url("Imagenes/Fenix.png");
    background-color: #000000AA;
    background-blend-mode: multiply;
    background-size: cover;
    padding: 1px;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container li{
    display: inline;
}

body {
    margin: auto;
    background-image: url("Imagenes/Fondo.png");
    background-size: cover;
}

hr {
    margin: 0px;
    border-color: #FFFFFF;
}

p {
    padding: 10px;
    line-height: 1em;
}

.lista h3 {
    text-align: center;
    background-color: #00000022;
    display: block;
    color: #000000;
    border: 1px solid #000000;
    line-height: 2em;
    margin: 0;
}

.lista h3:hover {
    background-color: #00000033;
    cursor:pointer;
    color: #000000;
}

.p_hide{
    display: none;
}

.p_display{
    display: block;
}

.galeria-main-container{
    align-content: center;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img{
    height: 400px;
    max-width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot1, .dot2, .dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade1, .fade2, .fade3 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2 {
    text-align: center;
}